html{
    width: 320px;
    border: 3px solid black;
    margin: auto;
}



.restaurant_page{
    width: 100%;
}

.restaurant_page_overview{
    width: 100%;

}


$color-primary:#F3F3F3;
$color-secondary:#D17DD3;
$color-third:#16b84e ;
$text-color:white;
$height:250px;
$font-size:0.7em;


@mixin border{
    border: 3px solid red;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 1rem;
    box-shadow: 4px 8px 4px darken($color: $color-primary, $amount: 10);    
    background-color: white;
}

@mixin btn{
    background-color: #D17DD3;  
    padding: 1px;
    margin: auto;
    color: $text-color;
    border-radius: 5rem;
    font-weight: bold;
    width: 65%;
    
    }


   
@mixin figure
{
    border-radius: 10px;
    width: 90%;
    height: 200px;
    overflow: hidden;
    background-color: white;
    margin: auto;
    margin-top: 12px;  
    box-shadow: 3px 5px darken($color: $color-primary, $amount: 5%) 
     
}


figure{
    @include figure;
 }





.restaurant_menu_plate{
    display: flex;
    @include border;
    justify-content: space-around;

    &--price{
        margin-top: auto;
        width: 10%;
        transform: translateX(20px);
        transition: transform 450ms linear;
    }

    &--description{
        line-height: 8px;
        width: 80%;
    }

    .animation_check{
        width: 11%;
        transform:   scale(0);
        transition: transform 450ms linear;
        transform-origin: right;
        background-color: red;    
        ;      
    }

    .fas.fa-check-circle{
       
        padding-top: 80%;
        padding-left: 30%;
        transform:   rotate(1turn);
        transition: transform 650ms linear ; 
        transform-origin: right;
        
    }

    &:hover{

        


        .animation_check{
            transform:  scale(1);
       
           
            .fas.fa-check-circle{
              
                transform:   rotate(0turn);
                transition: transform 450ms linear ;        
            }  
        

        

        }
      

        
        
       
    }  
        
        
}

.restaurant_menu_plate:hover .restaurant_menu_plate--price{
    transform: translateX(0px);
}